extends layout

block content
  .jumbotron.jumbotron-header
    h1#titleHeader.header-title.text-center.align-middle
      strong Web 3 Website
  .container
    .row
      .col-12
        #content
          #dropDown
          #data